/* Typography */
.h1 {
    @apply text-4xl font-extrabold leading-tight tracking-tighter;
}

.h2 {
    @apply text-3xl font-extrabold leading-tight tracking-tighter;
}

.h3 {
    @apply text-3xl font-bold leading-tight;
}

.h4 {
    @apply text-2xl font-bold leading-snug tracking-tight;
}

@screen md {
    .h1 {
        @apply text-5xl;
    }

    .h2 {
        @apply text-4xl;
    }
}

/* Buttons */
.btn,
.btn-sm {
    @apply font-medium inline-flex items-center justify-center border border-transparent rounded-sm leading-snug transition duration-150 ease-in-out;
}

.btn {
    @apply px-8 py-3;
}

.btn-sm {
    @apply px-4 py-2;
}

/* Forms */
.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox,
.form-radio {
    @apply bg-transparent border border-gray-700 focus:border-gray-500;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select,
.form-checkbox {
    @apply rounded-sm;
}

.form-input,
.form-textarea,
.form-multiselect,
.form-select {
    @apply py-3 px-4;
}

.form-input,
.form-textarea {
    @apply placeholder-gray-500;
}

.form-select {
    @apply pr-10;
}

.form-checkbox,
.form-radio {
    @apply text-purple-600;
}

/* Estilo para el fondo del componente TextoCompartido */
.background-textocompartido {
    background-image: url('/back_textocompartido.jpeg ');
    /* Ruta de la imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 60vh;
}

/* Capa semitransparente sobre la imagen de fondo */
.background-textocompartido::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Ajusta la opacidad aquí (0.5 = 50%) */
    z-index: 1;
    /* Asegura que esté por encima de la imagen de fondo */
}

/* Contenido del texto */
.background-textocompartido-content {
    position: relative;
    z-index: 2;
    /* Asegura que el contenido esté por encima de la capa semitransparente */
}
.backgroundfeatures {
    background-image: url('/back_feature.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
   .backgroundtestimonials {
    background-image: url('/back_groundtestimonials.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .backgroundmision {
    background-image: url('/back_mision.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .backgroundvision {
    background-image: url('/back_vision.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .backgroundvalores {
    background-image: url('/back_valores.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .backgroundpolitica {
    background-image: url('/back_politica.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .backgroundservicios {
    background-image: url('/back_servicios.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .backgroundterminales {
    background-image: url('/back_terminales.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .backgroundcontacto {
    background-image: url('/back_contacto.png');
        background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }